#line{
    margin-top:0;
    padding:0;
    width:82%;
    margin:auto;
    color: #028F21;
    height:2px;
}
#nav{

  padding-top: 15px;
}
#landing{

  margin: 0;
}
#steps{
  margin-top: 100px;
  margin-bottom: 100px;
}
.work{
  width: 70%;
}
.detect{
  position: relative;
left: 100px;
}
.navbar-brand{
  font-family: "Montserrat",sans-serif;
  color: #028F21;
  padding-left: 10%;
  font-size: 1.5rem;
}
.nav-link{
  color: #028F21;
  margin-right: 12px;
}
.navbar-nav{
  padding-right: 60px;
}
.navbar-item{
  padding-left: 10px;
  padding-right: 10px;

}
.navbar-toggler{
  margin-right: 90px;
}

/* hr{
  height: 2px;
} */
 .home-img{
    /* height: 80%; */
     width:120%;
     padding-top: 50px;
     height: 120%;
     margin-top: 50px;
     left:20px;

   }
   .how{
     position: relative;
    top: 220px;
    left:20px
    /* width: 100px; */
   }

     /* .h1color {
    color:#14B910;

} */
 }
 h1{
   font-family: "Montserrat",sans-serif;
   font-size: 3rem;
   line-height: 1.25rem;
   width: 70%;
   position: relative;
   top: 152px;
   left: 90px;
 }
 p{
   position: relative;
    top: 120px;
    left: 20px;
 }
 .h1color {
   font-family: "Montserrat",sans-serif;
   font-size: 3.5rem;

    color:#14B910;
    position: relative;
    top: 32px;
}
.head{
  width: 90%;
    position: relative;
    top: 100px;
    left: 20px;
}
 .green{margin-top: 0;
   padding-top: 0;
   color: #14B910;
 }
 .row{
   margin-left: 0;
   margin-right: 0;
 }
.container-fluid{
  padding: 2% 10%;
 }
 .how{

 }
