#line{
    margin-top:0;
    padding:0;
    width:82%;
    margin:auto;
    color: #028F21;
    height:2px;
}
#nav{

  padding-top: 15px;
}
#landing{

  margin: 0;
}
#steps{
  margin-top: 100px;
  margin-bottom: 100px;
}
.work{
  width: 70%;
}
.detect{
  position: relative;
left: 100px;
}
.detect:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.navbar-brand{
  font-family: "Ubuntu",sans-serif;
  color: #028F21;
  padding-left: 5%;
  font-size: 1.5rem;
}
.nav-link{
  color: #028F21;
  margin-right: 12px;
}
.navbar-nav{
  padding-right: 60px;
}
.navbar-item{
  padding-left: 10px;
  padding-right: 10px;


}
.nav-link:hover{
  color: orange;

}
.navbar-toggler{
  margin-right: 90px;
}

/* hr{
  height: 2px;
} */
 .home-img{
    /* height: 80%; */
     width:120%;
     padding-top: 50px;
     height: 120%;
     margin-top: 50px;
     left:20px;

   }
   .how{
     position: relative;
    top: 220px;
    left:20px
    /* width: 100px; */
   }

     /* .h1color {
    color:#14B910;

} */
 }
 h1{
   font-family: "Montserrat",sans-serif;
   font-size: 3rem;
   line-height: 1.25rem;
   width: 70%;
   position: relative;
   top: 152px;
   left: 90px;
 }
 p{
   position: relative;
    top: 120px;
    left: 20px;
 }
 .h1color  {
   font-family: "Montserrat",sans-serif;
   font-size: 3.5rem;

    color:#14B910;
    position: relative;
    top: 32px;
}
.head{
  width: 90%;
    position: relative;
    top: 100px;
    left: 20px;
}
 .green{margin-top: 0;
   padding-top: 0;
   color: #14B910;
 }
 .row{
   margin-left: 0;
   margin-right: 0;
 }
.container-fluid{
  padding: 2% 10%;
 }
 .how:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#features{
  background-color: #E7F8E4;
    text-align: center;
    padding-bottom: 104px;
    padding-top: 80px;
    margin-top: 128px;
}
.features-1 , .features-2 , .features-3{
  Width: 350px;
  Height: 502px;
  background-color: white;
  border-radius: 2.5rem;
  margin:15px;
}
.features-head{
  position: relative;
  color:#48C94A;
  top: 30px;
}
.comm{
  height: 172px;
width: 226px;
position: relative;
border-radius: 0px;

}
.accuracy{
  height: 134px;
      width: 180px;
      position: relative;
      border-radius: 49px;
      padding-top: 20px;
}
.cure{
  height: 139px;
  width: auto;
  position: relative;
  background-color: orange;
  border-radius: 50%;
  margin-top: 15px;
}
.hc{
  padding-top: 15px;
}
.fp{
  position: relative;
    left: 0;
    top: 60px;
    padding: 16px 20px;
    color: #625C5C;
}


.ha{
  padding-top: 35px;
}
.fimage{
  top:20px;
}
.fle{
  display: flex;
  align-items: center;
  justify-content: center;
}
#features h1{
  color: #028F21;
  padding:30px;
  font-family: "Poppins",sans-serif;
}
.features-1 , .features-2 , .features-3:hover{

}
@media (max-width: 996px){
  .home-img {
    /* height: 80%; */
    width: 100%;
    padding-top: 50px;
    height: 120%;
    margin-top: 50px;
    position: relative;
    left: 20px;}
    .how {
    position: relative;
    top: 220px;
    left: 20px /* width: 100px; */;
    z-index: 1;
}
.detect {
    position: relative;
    left: 65px;
}
}
@media (max-width: 825px){
  .work {
    width: 100%;
}
.detect {
    position: relative;
    left: 35%;
    margin-top: 20px;
}
}

@media (max-width: 650px) {
  .how {
      position: relative;
      top: 175px;
      left: 20px /* width: 100px; */;
      z-index: 1;
  }
  .work {
      width: 112%;
      position: relative;
      left: -30px;
  }
}
@media (max-width: 550px) {
  .navbar-brand {
    font-family: "Ubuntu",sans-serif;
    color: #028F21;
    padding-left: 1%;
    font-size: 1.5rem;
}
#aboutus h1{
    text-align: center;
    position: relative;
    padding-left: 18px;
    color: #48C94A;
    padding-top: 40px;
    font-family: "Poppins";}
    .navbar-toggler {
      margin-right: 60px;
  }}


#aboutus{
  padding-top: 55px;
}
#aboutus h1{
  text-align: left;
position: relative;
padding-left: 18px;
color: #48C94A;
padding-top: 40px;
font-family: "Poppins"
}
#aboutus p{
  position: relative;
  top : 40px;
    color: #625C5C;
}
#aboutus .container-fluid{
background-color: #E7F8E4;
}
#aboutus hr{
  margin-left: 18px;
}
.us{
  width: 70%;
  margin: auto;
  /* box-shadow: 5px 5px 20px grey; */
  padding-bottom: 50px;
    padding-right: 30px;
}
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      #footer p{
        top:0;
      }
